.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: antiquewhite;
    padding: 24px;
    border-radius: 20px;
    margin-bottom: 24px;
}

.title{
    font-size: 32px;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 24px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.box{
    width: 100%;
    height: 250px;
    border-radius: 20px;

    background-color: rgb(244, 106, 106);
    cursor: pointer;
}
.box2{
    width: 250px;
    height: 774px;
    border-radius: 20px;
    grid-row: span 2;

    background-color: rgb(65, 105, 252);
    cursor: pointer;
}
.box3{
    width: 548px;
    height: 500px;
    grid-column: span 2;
    border-radius: 20px;

    background-color: rgb(65, 252, 118);
    cursor: pointer;
}