*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#toastContainer{
    position: fixed;
    padding: 20px;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

.toast{
    display: none;
    padding: 15px;
    background-color: brown;
    
    transition: opacity 0.2s ease-in-out;
}

.toast.show{
    display: block;
    opacity: 1;
}

.toast.hide{
    opacity: 0;
}
.title{
    font-size: 32px;
    font-weight: bold;
}

.Success{
    background-color: rgb(90, 179, 90);
}
.Warning{
    background-color: rgb(242, 184, 67);
}
.Error{
    background-color: rgb(232, 93, 93);
}

.btn{
    border: none;
    padding: 6px;
}
